<script>
	import { writable } from 'svelte/store';
		import LoginForm from "./LoginForm.svelte"; // Login???!!!!
		import Clients from "./Clients.svelte"; // Clients modules
		import Employees from "./Employees.svelte"; // Clients modules
		import Events from "./Events.svelte"; // Clients modules
		import Tasks from "./Tasks.svelte"; // Clients modules
		import BudgetRequest from "./BudgetRequest.svelte"; // Clients modules
		import {clientView, eventView, taskView, employeeView, budgetrequestView} from "./views.js"; // all the viewables
		import TestButton from "./TestButton.svelte"; // Basically the home page
		import Menu from "./Menu.svelte";
		import Data from "./Data.svelte";

		export const token = writable(localStorage.getItem("access_token" || "null"));
		token.subscribe(val => localStorage.setItem("access_token", val));

		$: navItems = [
				{value: 1, show: true, label: "Home", comp: TestButton},
				{value: 2, show: $clientView, label: "Clients", comp: Clients},
				{value: 3, show: $taskView, label: "My Tasks", comp: Tasks},
				{value: 4, show: $eventView, label: "Events", comp: Events},
				{value: 5, show: $employeeView, label: "Employees", comp: Employees},
				{value: 6, show: $budgetrequestView, label: "Event Budget Requests", comp: BudgetRequest}
			];


		const submit = ({ email, password }) =>
			new Promise((resolve, reject) => {
					setTimeout(() => {
							fetch("http://127.0.0.1:5000/auth", {
									method: 'POST',
									headers: {
											'Accept': 'application/json',
											'Content-Type': 'application/json;charset=utf-8'
										},
									body: JSON.stringify({email, password})
								}).then(response => 
										response.json()
									).then(res =>{
											if ( typeof res["access_token"] == "undefined" ) {
													alert("wrong password")
												}
											else {
													console.log(res["access_token"])
													token.set("jwt " + res["access_token"]);
												}
										});
						}, 1000);
				});
</script>

<main>
	<Data />
	{#if $token !== "null"}
		<Menu {navItems}/>
	{:else}
		<h1>Welcome to sep</h1>
		<div>
			<LoginForm {submit} />
		</div>
	{/if}
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	/* Full-width inputs */
	input[type=text], input[type=password] {
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
