<script>
	import { writable } from 'svelte/store';
		import { onMount } from "svelte";
		import {budgetrequestView, budgetrequestData} from "./views.js";

		const token = writable(localStorage.getItem("access_token" || "null"));

		console.log("welcome to budget requests" , $budgetrequestData)

		$: data = $budgetrequestData;
		let editing = false;
		let id;
		let amount;
		let titel;
		let description;
		let team;
		let status;
		let event;
		const edit = async(client) =>{
				id = client.id;
				amount = client.amount;
				titel = client.titel;
				description = client.description;
				team = client.team;
				status = client.status;
				event = client.event;
				editing=true;
				console.log(client)
			};
		const noedit =() =>{
				editing = false;
			};

		const handleSubmit = () => {
				fetch("http://127.0.0.1:5000/finance/request", {
						method: 'PUT',
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							},
						body: JSON.stringify({amount, titel, description, team, status, event, id})
					}).then(response => 
							response.json()
						);
				editing=false;
			};
</script>

<main>
	<pre>
	<div class="container">
	<button class="new" on:click={() => edit({id:0, })}> New Budget request
	</button>
		{#key editing}
			{#if editing}
				<div class="editmode">
					<form on:submit|preventDefault={handleSubmit}>
						<div class="Row">Subject<input type="text" name="titel" placeholder={titel} bind:value={titel} /> </div>
						<div class="Row">Description<input type="text" name="description" placeholder={description} bind:value={description} /></div>
						<div class="Row">Event<input type="text" name="event" placeholder={event} bind:value={event} /></div>
						<div class="Row">Amount<input type="text" name="amount" placeholder={amount} bind:value={amount} /></div>
						<div class="Row">Subteam<input type="text" name="team" placeholder={team} bind:value={team} /></div>
						<br/><button type="submit"> Commit Changes </button>	<button type="cancel" on:click={noedit}>Cancel</button>
					</form>
				</div>
			{/if}
		{/key}
		{#each data as cl}
			<div class="client">
			<div class="edit" on:click={() => edit(cl)}> 🖊️</div>
			<h3>{cl.titel}</h3>
			<span>Reason:{ cl.reason }</span>
			<span>status:{ cl.status }</span>
			<span>Team:{ cl.team }</span>
			<span>Event:{ cl.event }</span>
			</div>
		{/each}
			</div>
	</pre>
</main>

<style>
	span {
		overflow:hidden;
		white-space: nowrap;
		margin-left: -10rem;
	}


	h3 {
		margin:0px;
		padding: 0px;
	}
* {
	box-sizing: border-box;
}
	.editmode {
		font-size: 0;
		position: absolute;
		width: 35%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
		text-align: center;
		background-color: #f1f1f1;
		border-radius: 15px;
	}
	.editmode input {
		margin:0px auto; 
		width: 85%;
		display:block;
	}
	.editmode input {
		font-size: 13px;
		margin:0px auto; 
		width: 85%;
		display:block;
	}
	.editmode button {
		font-size: 13px;
	}
	.Row {
		font-size: 13px;
		display: table;
		width: 100%; /*Optional*/
		table-layout: fixed; /*Optional*/
		border-spacing: 10px; /*Optional*/
	}
	.client {
		float: left;
		width: 25%;
		margin: 20px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
		text-align: center;
		background-color: #f1f1f1;
		border-radius: 15px;
	}
	/* Remove extra left and right margins, due to padding in columns */
	.container {margin: 0 -5px;}
	.container:after {
		content: "";
		display: table;
		clear: both;
	}
	.edit{
		cursor: pointer;
	}
	/* Responsive columns - one column layout (vertical) on small screens */
	@media screen and (max-width: 800px) {
		.client {
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}
	}
</style>
