<script>
	import { writable } from 'svelte/store';
		import {clientView, clientsData, eventView, eventData, taskView, taskData, employeeView, employeeData, budgetrequestData, budgetrequestView} from "./views.js"; // all the viewables

		const token = writable(localStorage.getItem("access_token" || "null"));

		fetch(
				"http://127.0.0.1:5000/finance/request",{
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							}
					}).then(x => {
							if (x.status >= 300){
									budgetrequestView.set(false); 
									return false;
								}
							return x.json();
						}).then(s => {
								if (s) {
									budgetrequestView.set(true); 
								}
								budgetrequestData.set(s);
							});
		fetch(
				"http://127.0.0.1:5000/employee/",{
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							}
					}).then(x => {
							if (x.status >= 300){
									console.log(`no agents :(`);
									employeeView.set(false); 
									return false;
								}
							return x.json();
						}).then(s => {
								if (s) {
									employeeView.set(true); 
								}
								employeeData.set(s);
							});

		fetch(
				"http://127.0.0.1:5000/clients/",{
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							}
					}).then(x => {
							if (x.status >= 300){
									console.log(`no access to clients :(`);
									clientView.set(false); 
									return false;
								}
							return x.json();
						}).then(s => {
								if (s) {
									clientView.set(true); 
								}
								clientsData.set(s);
							});

		fetch(
				"http://127.0.0.1:5000/eventrequest",{
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							}
					}).then(x => {
							if (x.status >= 300){
									console.log(`no agents :(`);
									eventView.set(false); 
									return false;
								}
							return x.json();
						}).then(s => {
								if (s) {
									eventView.set(true); 
								}
								eventData.set(s);
							});

		fetch(
				"http://127.0.0.1:5000/tasks",{
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							}
					}).then(x => {
							if (x.status >= 300){
									taskView.set(false); 
									return false;
								}
							return x.json();
						}).then(s => {
								if (s){
									taskView.set(true); 
								}
								taskData.set(s);
							});

</script>

<div>

</div>
