<script>
	import { writable } from 'svelte/store';
		import { onMount } from "svelte";
		import {employeeView, employeeData} from "./views.js";

		const token = writable(localStorage.getItem("access_token" || "null"));

		console.log("The client have the data. how the f do I print it?", $employeeData);
		$: data = $employeeData;
		let editing = false;
		let email;
		let employee_id;
		let phone;
		let full_name;
		let password;
		let role;
		const edit = async(emp) =>{
				employee_id = emp.id;
				email = emp.contact[0].email;
				phone = emp.contact[0].phone;
				full_name = emp.contact[0].full_name;
				role = emp.role;
				password = emp.password;
				editing=true;
				console.log(emp)
			};

		const handleSubmit = () => {
				fetch("http://127.0.0.1:5000/employee/", {
						method: 'PUT',
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							},
						body: JSON.stringify({employee_id, email, phone, full_name, role, password})
					}).then(response => 
							response.json()
						);
				editing=false;
			};
</script>

<main>
	<pre>
	<div class="container">
	<button class="new" on:click={() => edit({id:0, contact:[{email:"", phone:0, full_name:""}], password: "", role: ""})}> New Employee
	</button>
		{#key editing}
			{#if editing}
				<div class="editmode">
					<form on:submit|preventDefault={handleSubmit}>
						<div class="Row">Name of Employee<input type="text" name="full_name" placeholder={full_name} bind:value={full_name} /></div>
						<div class="Row">Role<input type="text" name="email" placeholder={role} bind:value={role} /></div>
						<div class="Row">Password<input type="text" name="email" placeholder={password} bind:value={password} alt="This will be hashed"/></div>
						<div class="Row">Email<input type="text" name="email" placeholder={email} bind:value={email} /></div>
						<div class="Row">Phone<input type="text" name="phone" placeholder={phone} bind:value={phone} /></div>
						<br/><button type="submit">
							Commit Changes
						</button>
					</form>
				</div>
			{/if}
		{/key}
		{#each data as cl}
			<div class="client">
			<div class="edit" on:click={() => edit(cl)}> 🖊️</div>
			<h3>{ cl.contact[0].full_name}</h3>
			<span>Role:{cl.role}</span>
			<span>📧:{cl.contact[0].email}</span>
			<span>📱:{cl.contact[0].phone}</span>
			<span>ID:{cl.id}</span>
			</div>
		{/each}
			</div>
	</pre>
</main>

<style>
	span {
		overflow:hidden;
		white-space: nowrap;
		margin-left: -10rem;
	}


	h3 {
		margin:0px;
		padding: 0px;
	}
* {
	box-sizing: border-box;
}
	.editmode {
		position: absolute;
		width: 35%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
		text-align: center;
		background-color: #f1f1f1;
		border-radius: 15px;
	}
	.editmode input {
		margin:0px auto; 
		width: 85%;
		display:block;
	}
	.Row {
		display: table;
		width: 100%; /*Optional*/
		table-layout: fixed; /*Optional*/
		border-spacing: 10px; /*Optional*/
	}
	.client {
		float: left;
		width: 25%;
		margin: 20px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
		text-align: center;
		background-color: #f1f1f1;
		border-radius: 15px;
	}
	/* Remove extra left and right margins, due to padding in columns */
	.container {margin: 0 -5px;}
	.container:after {
		content: "";
		display: table;
		clear: both;
	}
	.edit{
		cursor: pointer;
	}
	/* Responsive columns - one column layout (vertical) on small screens */
	@media screen and (max-width: 800px) {
		.client {
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}
	}
</style>
