<script>
	import { writable } from 'svelte/store';
		import { onMount } from "svelte";
		import {eventView, eventData} from "./views.js";

		const token = writable(localStorage.getItem("access_token" || "null"));

		console.log("The client have the data. how the f do I print it?", $eventData);
		$: data = $eventData;

		let editing = false;
		let id_event;
		let name;
		let budget;
		let status;
		let type;
		let client_id;
		let startDate;
		let endDate;
		let desc;
		let expectedPartis;
		const edit = async(event) =>{
				id_event = event.id_event;
				name = event.name;
				budget = event.plannedBudget;
				status = event.status;
				type = event.eventType;
				client_id = event.client_id;
				startDate = event.startDate;
				endDate = event.endDate;
				desc = event.description;
				expectedPartis = event.expectedparticipants;
				editing=true;
			};

		const accept = (event) =>{
				id_event = event.id_event;
				let suc = fetch("http://127.0.0.1:5000/eventrequest/state", {
						method: 'PUT',
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							},
						body: JSON.stringify({id_event})
					}).then(response => {
							if (response.status != 200) {
									alert("Failed to update event!")
								}
						});
			};

		const noedit =() =>{
				editing = false;
			};
		const handleSubmit = (event) => {
				let suc = fetch("http://127.0.0.1:5000/eventrequest", {
						method: 'PUT',
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							},
						body: JSON.stringify({name, budget, status, type, client_id, startDate, endDate, desc, expectedPartis, id_event})
					}).then(response => {
							if (response.status != 200) {
									alert("Failed to update event!")
								}
							return event = response.json()
						});
				editing=false;
			};
</script>

<main>
	<pre>
	<div class="container">
	<button class="new" on:click={() => edit({})}> New Event
	</button>
		{#key editing}
			{#if editing}
				<div class="editmode">
					<form on:submit|preventDefault={()=> handleSubmit({})}>
						<div class="Row">Name<input type="text" name="name" placeholder={name} bind:value={name}/></div>
						<div class="Row">Client<input type="text" name="client_id" placeholder={client_id} bind:value={client_id}/></div>
						<div class="Row">Type<input type="text" name="type" placeholder={type} bind:value={type} /></div>
						<div class="Row">Description<input type="text" name="desc" placeholder={desc} bind:value={desc}/></div>
						<div class="Row">From<input type="text" name="startDate" placeholder={startDate} bind:value={startDate}/></div>
						<div class="Row">To<input type="text" name="endDate" placeholder={endDate} bind:value={endDate}/></div>
						<div class="Row">Expected participants<input type="text" name="expectedPartis" placeholder={expectedPartis} bind:value={expectedPartis}/></div>
						<div class="Row">Planned Budget<input type="text" name="budget" placeholder={budget} bind:value={budget}/></div>
						<br/><button type="submit"> Commit Changes </button>	<button type="cancel" on:click={noedit}>Cancel</button>
					</form>
				</div>
			{/if}
		{/key}
		{#each data as cl}
			<div class="client">
			<div class="toprow"><div class="edit" on:click={() => edit(cl)}> 🖊️</div> <div class="edit" on:click={() => accept(cl)}> ✅</div> </div>
			<h3>{cl.name}</h3>
			<span>client id:{cl.client_id}</span>
			<span>event type:{cl.type}</span>
			<span>Description:{cl.description}</span>
			<span>From:{cl.startDate}</span>
			<span>To:{cl.endDate}</span>
			<span>Participants:{cl.expectedparticipants}</span>
			<span>Budget:{cl.plannedBudget}</span>
			<span>State:{cl.state}</span>
			<span>ID:{ cl.client_id }</span>
			</div>
		{/each}
			</div>
	</pre>
</main>

<style>
	span {
		overflow:hidden;
		white-space: nowrap;
		margin-left: -10rem;
	}


	h3 {
		margin:0px;
		padding: 0px;
	}
* {
	box-sizing: border-box;
}
	.editmode {
		font-size: 0;
		position: absolute;
		width: 35%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
		text-align: center;
		background-color: #f1f1f1;
		border-radius: 15px;
	}
	.editmode input {
		font-size: 13px;
		margin:0px auto; 
		width: 85%;
		display:block;
	}
	.editmode button {
		font-size: 13px;
	}
	.toprow {
		font-size: 13px;
		display: table;
		width: 100%; /*Optional*/
		table-layout: fixed; /*Optional*/
		border-spacing: 0px; /*Optional*/
		white-space: nowrap;
		overflow: hidden;
	}
	.Row {
		font-size: 13px;
		display: table;
		width: 100%; /*Optional*/
		table-layout: fixed; /*Optional*/
		border-spacing: 10px; /*Optional*/
	}
	.client {
		float: left;
		width: 25%;
		margin: 20px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
		text-align: center;
		background-color: #f1f1f1;
		border-radius: 15px;
	}
	/* Remove extra left and right margins, due to padding in columns */
	.container {margin: 0 -5px;}
	.container:after {
		content: "";
		display: table;
		clear: both;
	}
	.edit{
		cursor: pointer;
	}
	/* Responsive columns - one column layout (vertical) on small screens */
	@media screen and (max-width: 800px) {
		.client {
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}
	}
</style>
