<script>
  export let submit;

	let email = "";
  let password = "";
	let errors = {};

	const handleSubmit = () => {
    errors = {};
    if (email.length === 0) {
      errors.email = "Field should not be empty";
    }
    if (password.length === 0) {
      errors.password = "Field should not be empty";
    }
    if (Object.keys(errors).length === 0) {
      submit({ email, password })
        .then(() => {
        })
        .catch(err => {
          errors.server = err;
        });
    }
  };
</script>

<main>
	<form on:submit|preventDefault={handleSubmit}>
    <label>Email</label>
    <input name="email" placeholder="name@example.com" bind:value={email} />

    <label>Password</label>
    <input name="password" type="password" bind:value={password} />

    <br/><button type="submit">
			Log in 🔒
		</button>
	</form>
</main>

<style>
	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	/* Full-width inputs */
	input[type=text], input[type=password] {
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	}

</style>
