<script>
	import { onMount } from "svelte";
		import { clientView } from "./views.js";

		export let navItems = [];
		export let activeTabValue = 1;

		let showMobileMenu = false;


		const handleClick = tabVal => () => {
				activeTabValue = tabVal;
			};



		// ####################################################
		//											mobile menu
		// ####################################################
		const handleMobileIconClick = () => (showMobileMenu = !showMobileMenu);
		// Media match query handler
		const mediaQueryHandler = e => {
				// Reset mobile state
				if (!e.matches) {
						showMobileMenu = false;
					}
			};
		// Attach media query listener on mount hook
		onMount(() => {
				const mediaListener = window.matchMedia("(max-width: 767px)");

				mediaListener.addListener(mediaQueryHandler);
			});
</script>

<nav>
	<div class="inner">
		<div on:click={handleMobileIconClick} class={`mobile-icon${showMobileMenu ? ' active' : ''}`}>
			<div class="middle-line"></div>
		</div>
		<ul class={`navbar-list${showMobileMenu ? ' mobile' : ''}`}>
			{#each navItems as item}
				{#key item.show}
				{#if item.show}
					<li class={activeTabValue === item.value ? 'active' : ''}>
						<span on:click={handleClick(item.value)}>{item.label}</span>
					</li>
				{/if}
				{/key}
			{/each}
		</ul>
	</div>
</nav>

<div>
	<br/>
	{#each navItems as item}
		{#if activeTabValue === item.value}
			<svelte:component this={item.comp} />
		{/if}
	{/each}
</div>

<style>

	nav {
		background-color: rgba(255, 62, 0, 0.8);
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		height: 45px;
	}

	.inner {
		max-width: 980px;
		padding-left: 20px;
		padding-right: 20px;
		margin: auto;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		height: 100%;
	}

	.mobile-icon {
		width: 25px;
		height: 14px;
		position: relative;
		cursor: pointer;
	}

	.mobile-icon:after,
	.mobile-icon:before,
	.middle-line {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transition: all 0.4s;
		transform-origin: center;
	}

	.mobile-icon:before,
	.middle-line {
		top: 0;
	}

	.mobile-icon:after,
	.middle-line {
		bottom: 0;
	}

	.mobile-icon:before {
		width: 66%;
	}

	.mobile-icon:after {
		width: 33%;
	}

	.middle-line {
		margin: auto;
	}

	.mobile-icon:hover:before,
	.mobile-icon:hover:after,
	.mobile-icon.active:before,
	.mobile-icon.active:after,
	.mobile-icon.active .middle-line {
		width: 100%;
	}

	.mobile-icon.active:before,
	.mobile-icon.active:after {
		top: 50%;
		transform: rotate(-45deg);
	}

	.mobile-icon.active .middle-line {
		transform: rotate(45deg);
	}

	.navbar-list {
		display: none;
		width: 100%;
		justify-content: space-between;
		margin: 0;
		padding: 0 40px;
	}

	.navbar-list.mobile {
		background-color: rgba(255, 62, 0, 0.8);
		position: fixed;
		display: block;
		height: calc(100% - 85px);
		bottom: 0;
		left: 0;
	}

	.navbar-list li {
		list-style-type: none;
		position: relative;
	}

	li.active > span {
		color: #495057;
		background-color: rgba(200, 62, 0, 0.8);
		border-color: #dee2e6 #dee2e6 #fff;
	}
	.navbar-list li:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #424245;
	}

	.navbar-list span {
		color: #fff;
		text-decoration: none;
		display: flex;
		height: 45px;
		align-items: center;
		padding: 0 10px;
		cursor: pointer;
		font-size: 13px;
	}

	@media only screen and (min-width: 767px) {
		.mobile-icon {
			display: none;
		}

		.navbar-list {
			display: flex;
			padding: 0;
		}

		.navbar-list span {
			display: inline-flex;
		}
	}
</style>
