<script>
	import { writable } from 'svelte/store';
		import { onMount } from "svelte";
		import {taskView, taskData} from "./views.js";

		const token = writable(localStorage.getItem("access_token" || "null"));

		$: data = $taskData;
		let editing = false;
		let assignee;
		let subject;
		let description;
		let task_id;
		let group;
		let event;
		const edit = async(client) =>{
				assignee = client.assignee;
				event = client.event;
				subject = client.subject;
				group = client.group;
				description = client.description;
				task_id = client.id;
				editing=true;
				console.log(client)
			};
		const noedit =() =>{
				editing = false;
			};

		const accept = (event) =>{
				task_id = event.id;
				let suc = fetch("http://127.0.0.1:5000/tasks/done", {
						method: 'PUT',
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							},
						body: JSON.stringify({task_id})
					}).then(response => {
							if (response.status != 200) {
									alert("Failed to update event!")
								}
						});
			};
		const handleSubmit = () => {
				fetch("http://127.0.0.1:5000/tasks", {
						method: 'PUT',
						headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json;charset=utf-8',
								'Authorization': $token
							},
						body: JSON.stringify({group, assignee, subject, description, task_id, event})
					}).then(response => 
							response.json()
						);
				editing=false;
			};
</script>

<main>
	<pre>
	<div class="container">
	<button class="new" on:click={() => edit({id:0, })}> New Task
	</button>
		{#key editing}
			{#if editing}
				<div class="editmode">
					<form on:submit|preventDefault={handleSubmit}>
						<div class="Row">Subject<input type="text" name="subject" placeholder={subject} bind:value={subject} /> </div>
						<div class="Row">Description<input type="text" name="description" placeholder={description} bind:value={description} /></div>
						<div class="Row">Assignee<input type="text" name="assignee" placeholder={assignee} bind:value={assignee} /></div>
						<div class="Row">Group<input type="text" name="group" placeholder={group} bind:value={group} /></div>
						<div class="Row">Event<input type="text" name="event" placeholder={event} bind:value={event} /></div>
						<br/><button type="submit"> Commit Changes </button>	<button type="cancel" on:click={noedit}>Cancel</button>
					</form>
				</div>
			{/if}
		{/key}
		{#each data as cl}
			<div class="client">
			<div class="edit" on:click={() => edit(cl)}> 🖊️</div> <div class="edit" on:click={() => accept(cl)}> ✅</div> 
			<h3>{cl.subject}</h3>
			<span>{ cl.description }</span>
			<span>Event:{ cl.event }</span>
			<span>Assignee: {cl.assignee}</span>
			<span>Done: {cl.done}</span>
			</div>
		{/each}
			</div>
	</pre>
</main>

<style>
	span {
		overflow:hidden;
		white-space: nowrap;
		margin-left: -10rem;
	}


	h3 {
		margin:0px;
		padding: 0px;
	}
* {
	box-sizing: border-box;
}
	.editmode {
		font-size: 0;
		position: absolute;
		width: 35%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
		text-align: center;
		background-color: #f1f1f1;
		border-radius: 15px;
	}
	.editmode input {
		margin:0px auto; 
		width: 85%;
		display:block;
	}
	.editmode input {
		font-size: 13px;
		margin:0px auto; 
		width: 85%;
		display:block;
	}
	.editmode button {
		font-size: 13px;
	}
	.Row {
		font-size: 13px;
		display: table;
		width: 100%; /*Optional*/
		table-layout: fixed; /*Optional*/
		border-spacing: 10px; /*Optional*/
	}
	.client {
		float: left;
		width: 25%;
		margin: 20px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
		text-align: center;
		background-color: #f1f1f1;
		border-radius: 15px;
	}
	/* Remove extra left and right margins, due to padding in columns */
	.container {margin: 0 -5px;}
	.container:after {
		content: "";
		display: table;
		clear: both;
	}
	.edit{
		cursor: pointer;
	}
	/* Responsive columns - one column layout (vertical) on small screens */
	@media screen and (max-width: 800px) {
		.client {
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}
	}
</style>
