<script>
	import { writable } from 'svelte/store';
		let sum = "0";
		const token = writable(localStorage.getItem("access_token" || "null"));


		const handleClick = async () => {
						let fetched = await fetch("http://127.0.0.1:5000/math/add?a=5&b=2", {
								method: 'GET',
								headers: {
										'Accept': 'application/json',
										'Content-Type': 'application/json;charset=utf-8',
										'Authorization': $token
									}
							});
						sum = await fetched.text()
			};
</script>

<main>
	<div id=container>
		<p> This is the home page</p> <br/>
		<button on:click={handleClick}>
			Test authenticated endpoint
		</button>

		&emsp;Sum: <p>{sum}</p>
	</div>
</main>

<style>
#container p { display: inline }
</style>
